.all {
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#727D83, #36444D);
	background-attachment: fixed;
	font-family: Arial,sans-serif;
}

header {
	padding: 15px 0;
	text-align: center;
}

header h1 {
	text-align: center;
	text-shadow: 2px 2px #99A3AB;
	font-size: 48px;
}

.user {
	text-align: right;
	margin-right: 27%;
}

.menu {
	min-width: 1633px;
}

.menu li {
	display: inline;
}

.menu li a {
	margin-right: -2px;
	padding: 12px 80px;
	background-image: linear-gradient(#727D83, #36444D);
	color: #99A3AB;
}

.menu li a:hover {
	background-color: #332A61;
}

footer {
	background-image: linear-gradient(#727D83, #36444D);
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	right: 0;
}

footer h5 {
	font-style: italic;
	text-align: right;
}

.login {
	min-width: 780px;
	position: relative;
	background-image: radial-gradient(#DDDDDF, #4F6270);
	margin-right: 33%;
	margin-left: 33%;
	margin-top: 10%;
	margin-bottom: 33%;
	padding: 10px 50px 50px 50px;
	box-shadow: 10px 10px 5px #61727E;
}

.login h1 {
	text-align: center;
}

.form_login {
	font-size: 28px;
}

.form_login div {
	display: inline-block;
}

#login_passwd {
	padding: 0 100px 10px 0;
}

label {
	display:inline-block;
	width:150px;
}

#input {
	display:inline-block;
	width: 200px;
	height: 20px;
	background: #61727E;
	color: #99A2A7;
	font-size: 16px;

}

.bouton {
	padding: 8px 0;
	display: block;
	margin-left: 100%;
	margin-right: 100%;
	float: left;
	border-radius: 7px;
	font-size: 0.85em;
	width: 120px;
}

.fail {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #A31919;
}

#div_middle {
	width: 50%;
	min-width: 459px;
	position: relative;
	margin: auto;
}

table {
	width: 50%;
	min-width: 459px;
	position: relative;
	margin: auto;
	border-style: none;
	border-spacing: 10px;
}

td {
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	border-style: inset;
	border-color: #36444D;
}

.pouce {
	width: 2%;
	height: 2%;
	position: relative;
	margin: auto;

}

.administration li {
	list-style-image: url("../img/42_icone.png");
}

.plane_pic {
	width: 320px;
	height: 240px;
}
